/* Reset some default styles */
body, html, #root {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  height: 100%;
  width:100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header styling */
header {
  background-color: #343a40;
  color: white;
  padding: 1rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

/* Navigation styling */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 1rem 0;
}

nav li {
  margin: 0 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a.active {
  border-bottom: 2px solid #ffc107;
}

/* Main content styling */
main {
  flex: 1;
  padding: 2rem;
  width: 60%;
  margin: 0 auto;
}

/* Section headers */
section h2 {
  font-size: 2rem;
  border-bottom: 2px solid #343a40;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

/* About Me section styling */
.about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.about-me-container {
  display: flex;
  align-items: flex-start;
}

.about-me-photo {
  width: 150px; /* Adjust the size as needed */
  height: auto;
  border-radius: 50%;
  margin-right: 1rem;
}

.about-me-text {
  margin-top: 20px;
  max-width: 100%;
}

.about-me-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-me-text p {
  font-size: 1rem;
  line-height: 1.5;
}

/* Portfolio styling */
.project {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.project-card {
  flex: 1 1 calc(33.333% - 2rem);
  background-color: white;
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-0.5rem);
}

.project-card img {
  max-width: 100%;
  display: block;
}

.project-card-body {
  padding: 1rem;
}

.project-card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.project-card-text a {
  color: #007bff;
  text-decoration: none;
}

.project-card-text a:hover {
  text-decoration: underline;
}

/* Contact form styling */
.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%
}

.contact-form label {
  margin-top: 1rem;
}


.contact-form input, .contact-form textarea {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  background-color: #fff;
  color: #333;
  width: 100%;
  box-sizing: border-box;
}

.contact-form textarea {
  resize: vertical;
  min-height: 100px;
}

.contact-form button {
  margin-top: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3;
}

.contact-form .error {
  color: red;
  font-size: 0.8rem;
}

/* Footer styling */
footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1rem;
  width: 100%;
  margin-top: auto;
}

footer a {
  color: white;
  margin: 0 0.5rem;
  text-decoration: none;
}

footer a:hover {
  color: #ffc107;
}
